@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+BE+WAL:wght@100..400&family=Zain:wght@200;300;400;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.nunito{
  font-family: "Nunito", sans-serif;
}
.zain{
  font-family: 'Zain',sans-serif;
}
.playwrite{
  font-family: "Playwrite AT", sans-serif;
}
.playwrite2{
  font-family: "Playwrite BE WAL", cursive;
}