@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.header-logo{
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  color: #7469B6;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.opt{
  background-color: white;
}
.opt.active{
  background-color: #7469B6;
  color:white
}
